version: "3.9"

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: devops-portainer
    restart: unless-stopped
    ports:
      - "8100:8000"   # Optional: Edge agent communication
      - "9444:9443"   # HTTPS Web UI
      - "9004:9000"   # Optional: HTTP (disabled by default)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro  # Manage Docker host
      - portainer_data:/data  # Persist configuration
    command: -H unix:///var/run/docker.sock

  postgres:
    image: postgres:16
    container_name: devops-postgres
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
      POSTGRES_DB: appdb
    command: >
      postgres
      -c shared_preload_libraries=pg_stat_statements
      -c pg_stat_statements.track=all
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 5s
      timeout: 5s
      retries: 20
      
  adminer:
    image: adminer:latest
    container_name: devops-adminer
    ports:
      - "8082:8080"

  redis:
    image: redis:7
    container_name: devops-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

  redis-ui:
    image: redis/redisinsight:latest
    container_name: devops-redis-ui
    ports:
      - "5540:5540"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: devops-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15692:15692"
    env_file:
      - ./secrets/rabbitmq.env
    command: >
      bash -c "
      rabbitmq-plugins enable rabbitmq_prometheus &&
      rabbitmq-server
      "

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: devops-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_4LW_COMMANDS_WHITELIST: "mntr,ruok,stat"
      KAFKA_OPTS: "-Dzookeeper.4lw.commands.whitelist=mntr,ruok,stat"
    ports:
      - "2181:2181"
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: devops-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"

      # internal docker network listener:
      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:29092,EXTERNAL://localhost:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: devops-kafka-ui
    depends_on:
      - kafka
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181

  backend:
    build:
      context: ./backend
    container_name: devops-backend
    env_file:
      - ./backend/.env
    environment:
      - NODE_OPTIONS=--require ./src/tracing.js # Auto-start tracing --inspect this if for node inspect(v8-built in not an external file)
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz-otel-collector:4318 # OTLP HTTP endpoint for REST
       # For gRPC, your instrumentation should be configured to use the gRPC endpoint (4317)
      - OTEL_SERVICE_NAME=backend-service
      - ELASTIC_APM_SERVICE_NAME=backend-service 
      - ELASTIC_APM_SERVER_URL=http://apm-server:8200
    ports:
      - "4000:4000"  # REST + GraphQL + Socket.IO
      - "50051:50051" # gRPC server 
      - "9229:9229" # Node.js inspector for debugging this   is for --inspect=0.0.0.0:9229
    networks:
      - default
      - signoz-net
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      rabbitmq:
        condition: service_started
      kafka:
        condition: service_started

#this is a proxy server between your browser and your node js backend(which serves both REST and gRPC) to handle gRPC-Web requests from the frontend and forward them to the backend. It also allows you to expose your gRPC services to the browser, which doesn't natively support gRPC.
  envoy:
    image: envoyproxy/envoy:v1.30-latest
    container_name: devops-envoy
    volumes:
      - ./infra/envoy.yaml:/etc/envoy/envoy.yaml:ro
    ports:
      - "8180:8180" # grpc-web to backend gRPC
      - "9901:9901" #admin metrics port
    depends_on:
      - backend

  nextjs:
    build:
      context: ./frontends/nextjs
    container_name: devops-nextjs
    env_file:
      - ./frontends/nextjs/.env
    ports:
      - "3000:3000"
    depends_on:
      - backend
      - envoy

  vite:
    build:
      context: ./frontends/vite-react
    container_name: devops-vite
    env_file:
      - ./frontends/vite-react/.env
    ports:
      - "5173:80"
    depends_on:
      - backend
      - envoy

  etcd:
    image: quay.io/coreos/etcd:v3.5.0
    container_name: devops-etcd
    restart: always
    environment:
      - ETCD_DATA_DIR=/etcd_data
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    ports:
      - "2379:2379"
    volumes:
      - etcd_data:/etcd_data

#this is also a proxy server but it is for API Gateway to route REST API calls from the frontend to the backend and also to provide a single entry point for all your APIs, which can be useful for things like authentication, rate limiting, and monitoring. It also allows you to expose your REST APIs to the browser without worrying about CORS issues.
  apisix:
    image: apache/apisix:latest
    container_name: devops-apisix
    restart: always
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    depends_on:
      - etcd
    volumes:
      - ./apisix_conf/config.yaml:/usr/local/apisix/conf/config.yaml:ro
    ports:
      - "9080:9080" # HTTP Traffic
      - "9180:9180" # Admin API (Dashboard talks to this)
      - "9443:9443" # HTTPS Traffic
      - "9091:9091" # Metrics Export

  apisix-dashboard:
    image: apache/apisix-dashboard:latest
    container_name: devops-apisix-dashboard
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - ./apisix_conf/dashboard.yaml:/usr/local/apisix-dashboard/conf/conf.yaml:ro
    depends_on:
      - etcd
  # --- ELASTICSEARCH (Storage) ---
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    container_name: devops-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true # Set to true for production
      - ELASTIC_PASSWORD=changeme # for user=elastic, while kibana_system user has its own password defined in kibana service
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ports:
      - "9200:9200" # HTTP API
      - "9300:9300" # Internal Transport
    deploy:
      resources:
        limits:
          memory: 1g

  # --- KIBANA (Visualization Dashboard) ---
  kibana:
    image: docker.elastic.co/kibana/kibana:8.13.4
    container_name: devops-kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=kibana_system #kibana_system different from elastic user, which is the superuser. This is for security hardening, so that if kibana is compromised, the attacker won't have full access to elasticsearch. 
      - ELASTICSEARCH_PASSWORD=tXrPrFLgn0p7AtKlkkeG
      - xpack.security.enabled=true
      - xpack.encryptedSavedObjects.encryptionKey=0123456789abcdef0123456789abcdef
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  # --- APM SERVER (Intake) ---
  apm-server:
    image: docker.elastic.co/apm/apm-server:8.13.4
    container_name: devops-apm-server
    ports:
      - "8200:8200"
    command: >
      apm-server -e
      -E output.elasticsearch.hosts=["elasticsearch:9200"]
      -E output.elasticsearch.username=elastic
      -E output.elasticsearch.password=changeme
      -E apm-server.host="0.0.0.0:8200"
      -E setup.kibana.host="kibana:5601"
      
    depends_on:
      - elasticsearch
      - kibana

  # --- PERCONA PMM SERVER (Monitoring) ---
  pmm-server:
    image: percona/pmm-server:2
    container_name: devops-pmm-server
    restart: always
    ports:
      - "8085:80"
      - "8443:443"
    volumes:
      - pmm_data:/srv
  
  pmm-client:
    image: percona/pmm-client:2
    container_name: devops-pmm-client
    depends_on:
      - pmm-server
      - postgres
    environment:
      PMM_AGENT_SERVER_ADDRESS: pmm-server:443
      PMM_AGENT_SERVER_USERNAME: admin
      PMM_AGENT_SERVER_PASSWORD: admin
    command: >
      bash -c "
      pmm-agent setup
        --server-address=pmm-server:443
        --server-username=admin
        --server-password=admin
        --force &&
      pmm-admin add postgresql
        --username=appuser
        --password=apppass
        --host=postgres
        --port=5432
        --query-source=pgstatmonitor
      "

  # clickhouse:
  #   image: clickhouse/clickhouse-server:24.8
  #   ports:
  #     - "8123:8123" # HTTP API
  #     - "9100:9100" # Native TCP
  #   volumes:
  #     - ./clickhouse-ports.xml:/etc/clickhouse-server/config.d/ports.xml
  #     - clickhouse_data:/var/lib/clickhouse
  #
  # --- SIGNOZ STACK ---
  # signoz-query-service:
  #   image: signoz/query-service:latest
  #   ports:
  #     - "8280:8280" # Internal API port
  #   environment:
  #     - SIGNOZ_TELEMETRYSTORE_PROVIDER=clickhouse
  #     - SIGNOZ_TELEMETRYSTORE_CLICKHOUSE_DSN=tcp://clickhouse:9100
  #
  #   volumes:
  #     - signoz_sqlite:/var/lib/signoz
  #   depends_on:
  #     - clickhouse
  #
  # signoz-frontend:
  #   image: signoz/frontend:latest
  #   container_name: devops-signoz-frontend
  #   ports:
  #     - "3301:3301" # <--- HERE IS YOUR UI PORT
  #   environment:
  #     - BACKEND_API_IP=signoz-query-service
  #     - FRONTEND_API_PORT=8280
  #     - BACKEND_API_URL=http://signoz-query-service:8280  # Try this variable name
  #     - SIGNOZ_API_URL=http://signoz-query-service:8280  # Or this one
  #     - REACT_APP_API_URL=http://signoz-query-service:8280
  #   depends_on:
  #     - signoz-query-service
  #
  # signoz-otel:
  #   image: signoz/signoz-otel-collector:latest
  #   container_name: devops-signoz-otel
  #   command: ["--config=/etc/otel-collector-config.yaml"]
  #   ports:
  #     - "4317:4317" # OTLP gRPC
  #     - "4318:4318" # OTLP HTTP
  #   volumes:
  #     - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
  #   depends_on:
  #     - clickhouse
  #     - signoz-query-service

  #metrics - agents for promethseu
  node-exporter:
    image: prom/node-exporter:latest
    container_name: devops-node-exporter
    ports:
      - "9101:9100"
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: devops-cadvisor
    ports:
      - "8086:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: devops-postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://appuser:apppass@postgres:5432/appdb?sslmode=disable"
    ports:
      - "9187:9187"
    depends_on:
      - postgres
  redis-exporter:
    image: oliver006/redis_exporter
    container_name: devops-redis-exporter
    environment:
      REDIS_ADDR: redis:6379
    ports:
      - "9121:9121"
    depends_on:
      - redis
  kafka-exporter:
    image: danielqsj/kafka-exporter
    container_name: devops-kafka-exporter
    command:
      - --kafka.server=kafka:29092
    ports:
      - "9308:9308"
    depends_on:
      - kafka
  elasticsearch-exporter:
    image: justwatch/elasticsearch_exporter
    container_name: devops-elasticsearch-exporter
    environment:
      ES_URI: http://elasticsearch:9200
    ports:
      - "9114:9114"
  zookeeper-exporter:
    image: wintechnano/zookeeper_exporter:latest
    container_name: devops-zookeeper-exporter
    ports:
      - "9143:9143"
    environment:
      - ZOOKEEPER_HOSTS=zookeeper:2181
      
  #zookeeper-exporter:
  #  image: dabealu/zookeeper-exporter
  #  container_name: devops-zookeeper-exporter
  #  command:
  #    - "--zk-hosts=zookeeper:2181"  # ← Use this format
  #  ports:
  #    - "9141:9141"
  #  depends_on:
  #    - zookeeper

  #grafana and prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: devops-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./infra/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
  
  grafana:
    image: grafana/grafana:latest
    container_name: devops-grafana
    ports:
      - "3005:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
  vault:
    image: hashicorp/vault:latest
    container_name: devops-vault
    restart: unless-stopped
    ports:
      - "18200:8200"  # Host 18200 → Container 8200
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: myroot
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    volumes:
      - vault_data:/vault/data
  vault-agent:
    image: hashicorp/vault:latest
    container_name: devops-vault-agent
    user: root
    cap_add:
    - IPC_LOCK
    volumes:
      - ./vault-agent.hcl:/etc/vault/agent.hcl
      - ./templates:/templates
      - ./secrets:/secrets
      - ./token/token:/vault/token
    environment:
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: myroot
    command: vault agent -config=/etc/vault/agent.hcl
    depends_on:
      - vault

#logs setup
  loki:
      image: grafana/loki:2.9.6
      container_name: devops-loki
      ports:
        - "3100:3100"
      command: -config.file=/etc/loki/local-config.yaml
      volumes:
        - ./loki-config.yaml:/etc/loki/local-config.yaml
         - loki-data:/loki
  promtail:
    image: grafana/promtail:2.9.6
    container_name: devops-promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml

  #elk - logstash and filebeat
  logstash:
    image: docker.elastic.co/logstash/logstash:8.13.4
    container_name: devops-logstash
    ports:
      - "5044:5044"
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    depends_on:
      - elasticsearch
      - kibana
      
  filebeat:
    image: docker.elastic.co/beats/filebeat:8.13.4
    container_name: devops-filebeat
    user: root
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml
    
  #ci/cd
  # --- PostgreSQL for SonarQube ---
  sonarqube-db:
    image: postgres:15
    container_name: devops-sonarqube-db
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonarpass
      POSTGRES_DB: sonarqube
    volumes:
      - sonarqube_db_data:/var/lib/postgresql/data
    restart: unless-stopped

  # --- SonarQube ---
  sonarqube:
    image: sonarqube:9.9-community
    container_name: devops-sonarqube
    depends_on:
      - sonarqube-db
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://sonarqube-db:5432/sonarqube
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonarpass
    ports:
      - "9400:9000"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions
    restart: unless-stopped

  # --- Jenkins ---
  jenkins:
    image: jenkins/jenkins:lts
    container_name: devops-jenkins
    user: root
    environment:
      JAVA_OPTS: -Dhudson.model.DirectoryBrowserSupport.CSP=
    ports:
      - "8480:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

networks:
  signoz-net:
    external: true

volumes:
  postgres_data:
  redis_data:
  etcd_data:
  clickhouse_data:
  signoz_sqlite:
  pmm_data:
  grafana_data:
  vault_data:
  portainer_data:
  sonarqube_db_data:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:
  jenkins_home: